FHIR_SERVER_BASE=https://mock-fhir-server/base
UNPROTECTED_RESOURCE_TYPES=Patient
CDS_HOST=https://mock-cds
JWT_PUBLIC_KEY="Public key certificate for verifying Auth JWTs in PEM format (note that newlines must be replaced with '\n' in order for this to work"